  .carousel-inner img {
    margin: auto;
  }
.search {
    padding-top: 3%
}
.card {
    margin: 5px;
}
.carousel {
    margin: 0 auto;
  }
  .body {
    padding: 0% 6%;
    background-color: #EBF2F3;
  }