<app-navbar></app-navbar>
<div class="row">
    <div class="col-md-10 major-card mx-auto">
        <div class="list-group">
            <li class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">Reviews</h4>
                <!-- <button type="button" class="btn btn-secondary btn-sm">Add Meal</button> -->
                </div>
            </li>
            <div *ngIf="errorReviews" class="alert alert-danger"  role="alert">
                {{errorReviews}}
            </div>
            <div *ngIf="reviews">
                <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let review of reviews">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{review.review_body}}</h5>
                    </div>
                    <p class="mb-1">Customer id: {{review.customer_id}}</p>
                    <p class="mb-1">Customer id: {{review.customer_name}}</p>
                    <!-- <small>Donec id elit non mi porta.</small> -->
                </a>
            </div>
        </div> 
    </div>
</div>