<app-nav></app-nav>
<div class="controller">
    
  
  <div class="body">

    <h1 class="giant">{{name}}</h1>
    <hr>

  <div class="row">
      <div class="col-md-12 major-card">
          <div class="list-group">
              <li class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                  <h4 class="mb-1">Reservations</h4>
                  </div>
              </li>
              <div *ngIf="!reservations" class="alert alert-danger center-alert"  role="alert">
                {{errorText}}
                </div>
              <div *ngIf="reservations">
                  <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let reservation of reservations">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{reservation.reservation_date | amDateFormat:'LLL'}}</h5>
                      </div>
                      <button type="button" class="close" (click)="delete(reservation.reservation_id)">
                            delete
                        </button>
                      <p class="mb-1">Restaurant name: {{reservation.resto_name}}</p>
                      
                    </a>
              </div>
          </div> 
      </div>
    </div>
    </div>
</div>